<section class="schedule-section">
  <div> Schedule for {{currentTime | date}} ||| {{timeToRefresh}} seconds until schedule refreshes</div>
  <div class="schedule-grid-wrapper">
      <div class="schedule-header grid-wrapper">
          <div>Origin</div>
          <div>Trip</div>
          <div>Destination</div>
          <div>Departure Time</div>
          <div>Track #</div>
          <div>Status</div>
      </div>
      <div *ngFor="let schedule of data" class="grid-wrapper">
          <div>{{schedule.Origin}}</div>
          <div>{{schedule.Trip }}</div>
          <div>{{schedule.Destination }}</div>
          <div>{{schedule.ScheduledTime*1000 | date: 'short'}}</div>
          <div>{{schedule.Track || 'TBD' }}</div>
          <div>{{schedule.Status}}</div>
        </div>
        <div *ngIf="data.length === 0">
          <span>No Trains Are Running</span>
        </div>
  </div>
</section>

