.schedule-section {
 max-width: 1000px;
 margin: 0 auto;
}

.schedule-grid-wrapper {
  margin: 15px 0;
}

.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 100px 100px 200px 125px 100px 200px;
  border-bottom: 1px solid #ccc;
} 

.schedule-header {
  font-size: 1.1em;
  margin-bottom: 5px;
}